WIDTH=25			    #Maze width (number of cells)
HEIGHT=25			    #Maze height
ENTRY=23,1				#Entry coordinates (x,y)
EXIT=1,23				#Exit coordinates (x,y)
OUTPUT_FILE=maze.txt	#Output filename
PERFECT=False			#Is the maze perfect?
SEED=None               #Is the maze mazed?
