WIDTH=10			    #Maze width (number of cells)
HEIGHT=10			    #Maze height
ENTRY=0,0				#Entry coordinates (x,y)
EXIT=9,9				#Exit coordinates (x,y)
OUTPUT_FILE=maze.txt	#Output filename
PERFECT=True			#Is the maze perfect?
SEED=None               #Is the maze mazed?
